.navbar{
    display: flex;
    gap: 10px;
}

.tweet-form-and-feed{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tweet-box{
    border-style: solid;
    border-width: 1px;
    max-width: 300px;
    padding: 0px 20px 20px 20px;
    margin: 0px 0px 20px 0px;
}